<div>
    <h2 data-translate="anelclothesApp.encargo.home.title">Encargos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="encargo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="anelclothesApp.encargo.home.createLabel">
                        Create new Encargo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="importeTotal"><span data-translate="anelclothesApp.encargo.importeTotal">Importe Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaEncargo"><span data-translate="anelclothesApp.encargo.fechaEncargo">Fecha Encargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaEntrega"><span data-translate="anelclothesApp.encargo.fechaEntrega">Fecha Entrega</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detalleVestido"><span data-translate="anelclothesApp.encargo.detalleVestido">Detalle Vestido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado"><span data-translate="anelclothesApp.encargo.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoEncargo"><span data-translate="anelclothesApp.encargo.tipoEncargo">Tipo Encargo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.nombre"><span data-translate="anelclothesApp.encargo.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="encargo in vm.encargos track by encargo.id">
                    <td><a ui-sref="encargo-detail({id:encargo.id})">{{encargo.id}}</a></td>
                    <td>{{encargo.importeTotal}}</td>
                        <td>{{encargo.fechaEncargo | date:'mediumDate'}}</td>
                        <td>{{encargo.fechaEntrega | date:'mediumDate'}}</td>
                    <td>{{encargo.detalleVestido}}</td>
                    <td data-translate="{{'anelclothesApp.Estado.' + encargo.estado}}">{{encargo.estado}}</td>
                    <td data-translate="{{'anelclothesApp.TipoEncargo.' + encargo.tipoEncargo}}">{{encargo.tipoEncargo}}</td>
                    <td>
                        <a ui-sref="cliente-detail({id:encargo.cliente.id})">{{encargo.cliente.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="encargo-detail({id:encargo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="encargo.edit({id:encargo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="encargo.delete({id:encargo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
