
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEncargoLabel" data-translate="anelclothesApp.encargo.home.createOrEditLabel">Create or edit a Encargo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.encargo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.encargo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.encargo.importeTotal" for="field_importeTotal">Importe Total</label>
            <input type="number" class="form-control" name="importeTotal" id="field_importeTotal"
                    ng-model="vm.encargo.importeTotal"
                    required/>
            <div ng-show="editForm.importeTotal.$invalid">
                <p class="help-block"
                    ng-show="editForm.importeTotal.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.importeTotal.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.encargo.fechaEncargo" for="field_fechaEncargo">Fecha Encargo</label>
                <div class="input-group">
                    <input id="field_fechaEncargo" type="text" class="form-control" name="fechaEncargo" uib-datepicker-popup="{{dateformat}}" ng-model="vm.encargo.fechaEncargo" is-open="vm.datePickerOpenStatus.fechaEncargo"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaEncargo')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fechaEncargo.$invalid">
                <p class="help-block"
                    ng-show="editForm.fechaEncargo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.encargo.fechaEntrega" for="field_fechaEntrega">Fecha Entrega</label>
                <div class="input-group">
                    <input id="field_fechaEntrega" type="text" class="form-control" name="fechaEntrega" uib-datepicker-popup="{{dateformat}}" ng-model="vm.encargo.fechaEntrega" is-open="vm.datePickerOpenStatus.fechaEntrega"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaEntrega')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.encargo.detalleVestido" for="field_detalleVestido">Detalle Vestido</label>
            <input type="text" class="form-control" name="detalleVestido" id="field_detalleVestido"
                    ng-model="vm.encargo.detalleVestido"
                    required/>
            <div ng-show="editForm.detalleVestido.$invalid">
                <p class="help-block"
                    ng-show="editForm.detalleVestido.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.encargo.estado" for="field_estado">Estado</label>
            <select class="form-control" name="estado" ng-model="vm.encargo.estado" id="field_estado">
                <option value="ENCARGADO" data-translate="anelclothesApp.Estado.ENCARGADO">ENCARGADO</option>
                <option value="CORTADO" data-translate="anelclothesApp.Estado.CORTADO">CORTADO</option>
                <option value="PROBADO" data-translate="anelclothesApp.Estado.PROBADO">PROBADO</option>
                <option value="ENTREGADO" data-translate="anelclothesApp.Estado.ENTREGADO">ENTREGADO</option>
                <option value="CANCELADO" data-translate="anelclothesApp.Estado.CANCELADO">CANCELADO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.encargo.tipoEncargo" for="field_tipoEncargo">Tipo Encargo</label>
            <select class="form-control" name="tipoEncargo" ng-model="vm.encargo.tipoEncargo" id="field_tipoEncargo">
                <option value="QUINCE" data-translate="anelclothesApp.TipoEncargo.QUINCE">QUINCE</option>
                <option value="NOVIA" data-translate="anelclothesApp.TipoEncargo.NOVIA">NOVIA</option>
                <option value="MADRINA" data-translate="anelclothesApp.TipoEncargo.MADRINA">MADRINA</option>
                <option value="FIESTA" data-translate="anelclothesApp.TipoEncargo.FIESTA">FIESTA</option>
                <option value="POLICIA" data-translate="anelclothesApp.TipoEncargo.POLICIA">POLICIA</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="anelclothesApp.encargo.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" ng-model="vm.encargo.cliente" ng-options="cliente as cliente.nombre for cliente in vm.clientes track by cliente.id" required>
            </select>
        </div>
        <div ng-show="editForm.cliente.$invalid">
            <p class="help-block"
                ng-show="editForm.cliente.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
