
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMedidaLabel" data-translate="anelclothesApp.medida.home.createOrEditLabel">Create or edit a Medida</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.medida.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.medida.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.contornoBusto" for="field_contornoBusto">Contorno Busto</label>
            <input type="number" class="form-control" name="contornoBusto" id="field_contornoBusto"
                    ng-model="vm.medida.contornoBusto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anchoPecho" for="field_anchoPecho">Ancho Pecho</label>
            <input type="number" class="form-control" name="anchoPecho" id="field_anchoPecho"
                    ng-model="vm.medida.anchoPecho"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.altoBusto" for="field_altoBusto">Alto Busto</label>
            <input type="number" class="form-control" name="altoBusto" id="field_altoBusto"
                    ng-model="vm.medida.altoBusto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.bajoBusto" for="field_bajoBusto">Bajo Busto</label>
            <input type="number" class="form-control" name="bajoBusto" id="field_bajoBusto"
                    ng-model="vm.medida.bajoBusto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.alturaPinza" for="field_alturaPinza">Altura Pinza</label>
            <input type="number" class="form-control" name="alturaPinza" id="field_alturaPinza"
                    ng-model="vm.medida.alturaPinza"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.separacionBusto" for="field_separacionBusto">Separacion Busto</label>
            <input type="number" class="form-control" name="separacionBusto" id="field_separacionBusto"
                    ng-model="vm.medida.separacionBusto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.talleDeltantero" for="field_talleDeltantero">Talle Deltantero</label>
            <input type="number" class="form-control" name="talleDeltantero" id="field_talleDeltantero"
                    ng-model="vm.medida.talleDeltantero"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.talleEspalda" for="field_talleEspalda">Talle Espalda</label>
            <input type="number" class="form-control" name="talleEspalda" id="field_talleEspalda"
                    ng-model="vm.medida.talleEspalda"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.largoCorset" for="field_largoCorset">Largo Corset</label>
            <input type="number" class="form-control" name="largoCorset" id="field_largoCorset"
                    ng-model="vm.medida.largoCorset"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.costado" for="field_costado">Costado</label>
            <input type="number" class="form-control" name="costado" id="field_costado"
                    ng-model="vm.medida.costado"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.hombro" for="field_hombro">Hombro</label>
            <input type="number" class="form-control" name="hombro" id="field_hombro"
                    ng-model="vm.medida.hombro"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anchoHombro" for="field_anchoHombro">Ancho Hombro</label>
            <input type="number" class="form-control" name="anchoHombro" id="field_anchoHombro"
                    ng-model="vm.medida.anchoHombro"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.largoManga" for="field_largoManga">Largo Manga</label>
            <input type="number" class="form-control" name="largoManga" id="field_largoManga"
                    ng-model="vm.medida.largoManga"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.sisaDelantero" for="field_sisaDelantero">Sisa Delantero</label>
            <input type="number" class="form-control" name="sisaDelantero" id="field_sisaDelantero"
                    ng-model="vm.medida.sisaDelantero"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.sisaEspalda" for="field_sisaEspalda">Sisa Espalda</label>
            <input type="number" class="form-control" name="sisaEspalda" id="field_sisaEspalda"
                    ng-model="vm.medida.sisaEspalda"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.contornoCintura" for="field_contornoCintura">Contorno Cintura</label>
            <input type="number" class="form-control" name="contornoCintura" id="field_contornoCintura"
                    ng-model="vm.medida.contornoCintura"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anteCadera" for="field_anteCadera">Ante Cadera</label>
            <input type="number" class="form-control" name="anteCadera" id="field_anteCadera"
                    ng-model="vm.medida.anteCadera"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.contornoCadera" for="field_contornoCadera">Contorno Cadera</label>
            <input type="number" class="form-control" name="contornoCadera" id="field_contornoCadera"
                    ng-model="vm.medida.contornoCadera"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.posicionCadera" for="field_posicionCadera">Posicion Cadera</label>
            <input type="number" class="form-control" name="posicionCadera" id="field_posicionCadera"
                    ng-model="vm.medida.posicionCadera"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.largoFalda" for="field_largoFalda">Largo Falda</label>
            <input type="number" class="form-control" name="largoFalda" id="field_largoFalda"
                    ng-model="vm.medida.largoFalda"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.tipoFalda" for="field_tipoFalda">Tipo Falda</label>
            <select class="form-control" name="tipoFalda" ng-model="vm.medida.tipoFalda" id="field_tipoFalda">
                <option value="TUBO" data-translate="anelclothesApp.TipoFalda.TUBO">TUBO</option>
                <option value="RECTA" data-translate="anelclothesApp.TipoFalda.RECTA">RECTA</option>
                <option value="TAJO" data-translate="anelclothesApp.TipoFalda.TAJO">TAJO</option>
                <option value="EVASE" data-translate="anelclothesApp.TipoFalda.EVASE">EVASE</option>
                <option value="CORTEA" data-translate="anelclothesApp.TipoFalda.CORTEA">CORTEA</option>
                <option value="CAMPANA" data-translate="anelclothesApp.TipoFalda.CAMPANA">CAMPANA</option>
                <option value="PLATO" data-translate="anelclothesApp.TipoFalda.PLATO">PLATO</option>
                <option value="GAJOS" data-translate="anelclothesApp.TipoFalda.GAJOS">GAJOS</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.fechaMedida" for="field_fechaMedida">Fecha Medida</label>
                <div class="input-group">
                    <input id="field_fechaMedida" type="text" class="form-control" name="fechaMedida" uib-datepicker-popup="{{dateformat}}" ng-model="vm.medida.fechaMedida" is-open="vm.datePickerOpenStatus.fechaMedida"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaMedida')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fechaMedida.$invalid">
                <p class="help-block"
                    ng-show="editForm.fechaMedida.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anchoEspalda" for="field_anchoEspalda">Ancho Espalda</label>
            <input type="number" class="form-control" name="anchoEspalda" id="field_anchoEspalda"
                    ng-model="vm.medida.anchoEspalda"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anchoManga" for="field_anchoManga">Ancho Manga</label>
            <input type="number" class="form-control" name="anchoManga" id="field_anchoManga"
                    ng-model="vm.medida.anchoManga"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.tiroPantalon" for="field_tiroPantalon">Tiro Pantalon</label>
            <input type="number" class="form-control" name="tiroPantalon" id="field_tiroPantalon"
                    ng-model="vm.medida.tiroPantalon"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anchoPinzaPantalon" for="field_anchoPinzaPantalon">Ancho Pinza Pantalon</label>
            <input type="number" class="form-control" name="anchoPinzaPantalon" id="field_anchoPinzaPantalon"
                    ng-model="vm.medida.anchoPinzaPantalon"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.anchoRodillaPantalon" for="field_anchoRodillaPantalon">Ancho Rodilla Pantalon</label>
            <input type="number" class="form-control" name="anchoRodillaPantalon" id="field_anchoRodillaPantalon"
                    ng-model="vm.medida.anchoRodillaPantalon"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.botaPantalon" for="field_botaPantalon">Bota Pantalon</label>
            <input type="number" class="form-control" name="botaPantalon" id="field_botaPantalon"
                    ng-model="vm.medida.botaPantalon"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anelclothesApp.medida.largoPantalon" for="field_largoPantalon">Largo Pantalon</label>
            <input type="number" class="form-control" name="largoPantalon" id="field_largoPantalon"
                    ng-model="vm.medida.largoPantalon"
                    />
        </div>

        <div class="form-group">
            <label data-translate="anelclothesApp.medida.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" ng-model="vm.medida.cliente" ng-options="cliente as cliente.nombre for cliente in vm.clientes track by cliente.id" required>
            </select>
        </div>
        <div ng-show="editForm.cliente.$invalid">
            <p class="help-block"
                ng-show="editForm.cliente.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
