<div>
    <h2 data-translate="anelclothesApp.modelo.home.title">Modelos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="modelo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="anelclothesApp.modelo.home.createLabel">
                        Create new Modelo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagen"><span data-translate="anelclothesApp.modelo.imagen">Imagen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombreModelo"><span data-translate="anelclothesApp.modelo.nombreModelo">Nombre Modelo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="colorVestido"><span data-translate="anelclothesApp.modelo.colorVestido">Color Vestido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observacion"><span data-translate="anelclothesApp.modelo.observacion">Observacion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.nombre"><span data-translate="anelclothesApp.modelo.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="modelo in vm.modelos track by modelo.id">
                    <td><a ui-sref="modelo-detail({id:modelo.id})">{{modelo.id}}</a></td>
                    <td><img data-ng-src="data:image/png;base64,{{modelo.imagen}}" width="100px"/></td>
                    <td>{{modelo.nombreModelo}}</td>
                    <td>{{modelo.colorVestido}}</td>
                    <td>{{modelo.observacion}}</td>
                    <td>
                        <a ui-sref="cliente-detail({id:modelo.cliente.id})">{{modelo.cliente.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="modelo-detail({id:modelo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="modelo.edit({id:modelo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="modelo.delete({id:modelo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
